/** {
border: 1px solid black;
}*/

h1 {
  font-family: 'Raleway', sans-serif;
  font

}

#vrimage {
  width: 90%;
  height: 750px;
  /*top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 200px;*/
}

#pagebrk {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

/*#herodiv {
  display: inline-block;;
}*/
/*
#topinfo {
  height: 700px;
}*/



/*#bg {
  position: fixed;
  top: 0;
  left: 0; */

  /* Preserve aspet ratio */
  /*min-width: 100%;
  min-height: 100%;
}*/
