/** {
border: 1px solid black;
}*/

h1 {
  font-family: 'Raleway', sans-serif;
  font

}

#vrimage {
  max-width: 110%;
  max-height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 200px;
}

#topinfo {
  height: 700px;


}



/*#bg {
  position: fixed;
  top: 0;
  left: 0; */

  /* Preserve aspet ratio */
  /*min-width: 100%;
  min-height: 100%;
}*/
